<style>
    dialog{
        padding: 0;
    }
</style>

<slot name="activator">
    <button>Open</button>
</slot>
<dialog>
    <slot name="content">
        <div>Place content here.</div>
    </slot>
</dialog>